.App {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 288px;
}
.counter {
  grid-row: 2/3;
  justify-self: center;
  width: 300px;
  text-align: center;
  background-color: cornflowerblue;
  padding: 100px;
  border-radius: 30px;
}

.monitor {
  grid-column: 2/3;
  font-size: 50px;
}

.button {
  grid-row: 3/4;
  border-radius: 25px;
  width: 60px;
  height: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.error {
  color: red;
}